<!--<ion-header>
  <ion-toolbar>
    <ion-title>home-admin</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="background">
      <div class="welcome">
        <ion-buttons class="menuButton" slot="start"><ion-menu-button></ion-menu-button> </ion-buttons>
        <div>
          <strong>Administración</strong>
          <!--<p *ngIf="myData">{{myData.nombre}}</p>-->
        </div>
      </div>
    </div>

    <!-- Bucle con los horarios -->
    <div id="horarios">

      <p class="leyenda">Selecciona un día</p>

      <ion-item class="rounded">
        <ion-label>Elige día</ion-label>
        <ion-datetime
          id="fecha"
          [(ngModel)]="daySelected"
          (ionChange)="loadDates()"
          [min]="minDate"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        ></ion-datetime>
      </ion-item>

      <p class="leyenda">Hora - Aforo</p>

      <ion-list>
        <!-- Sliding item with text options on both sides -->
        <ion-item-sliding *ngFor="let in of [0,1,2,3,4]">

          <ion-item>
            <ion-label><strong>12:00 - 12:20</strong></ion-label>
            <ion-label class="date-aforo">5</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="this.editarHorario()">Editar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newHorario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
