<ion-header>
  <ion-toolbar class="navbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="wrapp-logo">
        <div class="app-logo"></div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Citas
    </ion-list-header>

    <ion-item *ngFor="let cita of Citas" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{cita.hora}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{cita.hora}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/citas/edit-cita/', cita.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCita(cita.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
