<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="citaForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Fecha:</ion-label>
        <ion-datetime  
          displayFormat="DD/MM/YY"
          formControlName="fecha"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora:</ion-label>
        <ion-datetime   
          displayFormat="hh:mm A" 
          pickerFormat="HH:mm"
          minuteValues="00,20,40"
          hourValues="8,9,10,11,12,13,14,15,16,17,18,19,20"
          formControlName="hora"
          ></ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Confirmar Cita</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
