<script src="https://smtpjs.com/v3/smtp.js"></script>
<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true" scroll-y="false">

  <div class="container">

    <div class="login">
      <div class="container">
        <div class="center">
          <h1 class="apple">¡Hola!</h1>
          <p>Accede para ver tus citas</p>
        </div>
      </div>
    </div>

    <div class="formulario">
      <form (ngSubmit)="logInUser()">
        <ion-item>
          <!--<ion-label>Nombre</ion-label>-->
          <ion-input type="email" [(ngModel)]="login.email" name="title" placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <!--<ion-label>Contraseña</ion-label>-->
          <ion-input type="password" [(ngModel)]="login.password" name="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button color="success" type="submit">Entrar</ion-button>
      </form>
    </div>

    <div class="blockwhite" (click)="registerAnimation()">
      <div class="text">
        <p>¿No tienes cuenta todavía?</p>
      </div>


      <!--<div id="textAnimation" style="display: none">
        <ion-button routerLink= '/registration' fill="clear" shape="round">
          Regístrate
        </ion-button>
        <br>
        y
        <div id=flip>
          <div><div>Solicita</div></div>
          <div><div>Organiza</div></div>
          <div><div>gestiona</div></div>
        </div>
        tus citas
      </div>-->

      <div class="textEffect ion-hide" routerLink= '/registration'>
        REGÍSTRATE
      </div>

    </div>
  </div>


</ion-content>
