<!--<ion-header>
  <ion-toolbar>
    <ion-title>solicitar</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">

  <div id="container">

    <div id="userInfo">
      <div class="userData">
        <ion-grid>
          <ion-row>
            <ion-col class="avatar">
              <img src="https://i.musicaimg.com/letras/resmax/bryant-myers.jpg" alt="Avatar">
            </ion-col>
            <ion-col class="infoUser">
              <p><ion-icon name="person-outline"></ion-icon> Juan José</p>
              <p><ion-icon name="card-outline"></ion-icon> Nº ss</p>
              <p><ion-icon name="location-outline"></ion-icon> Dirección</p>
            </ion-col>
          </ion-row>
        </ion-grid>


      </div>
    </div>

    <div id="solicitarCita">

      <div class="solicitarFecha">Seleccione la fecha</div>

      <ion-item class="rounded">
        <ion-label>Elige día</ion-label>
        <ion-datetime
          id="fecha"
          [(ngModel)]="daySelected"
          [dayShortNames]="customDayShortNames"
          [min]="minDate"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        ></ion-datetime>
      </ion-item>

      <div class="solicitarFecha">Selecciona la hora</div>

      <ion-item class="rounded">
        <ion-label>Elige hora</ion-label>
        <ion-datetime
          id="hora"
          [(ngModel)]="hourSelected"
          displayFormat="HH:mm"
          [minuteValues]="minuteValues"
          [hourValues]="hourValues"

        ></ion-datetime>
      </ion-item>

      <ion-button shape="round" expand="block" (click)="onSubmit()">
        <ion-icon  slot="start" name="receipt-outline"></ion-icon>
        Solicitar cita
      </ion-button>

    </div>


  </div>


</ion-content>
