<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="userInfo">
      <!-- Darle algo de estilismo al back button para que quede cremita -->
      <div class="userData">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" (click)="resetEditing()"></ion-back-button>
        </ion-buttons>
        <ion-grid>
          <ion-row>
            <div  *ngIf="userInfo">
              <ion-col class="infoUser">
                <p><ion-icon name="person-outline"></ion-icon> {{userInfo.nombre}}</p>
                <p><ion-icon name="card-outline"></ion-icon> {{userInfo.ss}}</p>
                <p><ion-icon name="location-outline"></ion-icon> {{userInfo.direccion}}</p>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>


      </div>
    </div>

    <div id="solicitarCita">

      <div class="solicitarFecha">Seleccione la fecha</div>

      <ion-item class="rounded">
        <ion-label>Elige día</ion-label>
        <ion-datetime
          id="fecha"
          [(ngModel)]="daySelected"
          [dayShortNames]="customDayShortNames"
          [min]="minDate"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
        ></ion-datetime>
      </ion-item>

      <div class="solicitarFecha">Selecciona la hora</div>

      <ion-item class="rounded">
        <ion-label>Elige hora</ion-label>
        <ion-datetime
          id="hora"
          [(ngModel)]="hourSelected"
          displayFormat="HH:mm"
          [minuteValues]="minuteValues"
          [hourValues]="hourValues"

        ></ion-datetime>
      </ion-item>

      <ion-button *ngIf="!isEditing" shape="round" expand="block" (click)="createAppointment(userInfo)">
        <ion-icon  slot="start" name="receipt-outline"></ion-icon>
        Solicitar cita
      </ion-button>

      <ion-button *ngIf="isEditing" shape="round" expand="block" (click)="editAppointment(userInfo)">
        <ion-icon  slot="start" name="receipt-outline"></ion-icon>
        Editar cita
      </ion-button>

    </div>


  </div>


</ion-content>
