<ion-content [fullscreen]="true">

  <div id="container">

    <div class="background">
      <div class="welcome">
        <ion-buttons class="menuButton" slot="start"><ion-menu-button></ion-menu-button> </ion-buttons>
        <div>
          <strong>Bienvenido/a </strong>
          <p *ngIf="myData">{{myData.nombre}}</p>
        </div>

      </div>

    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Próxima cita</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="card-cita">
          <div class="fecha">
            <ion-icon name="time-outline"></ion-icon>
            <p>24/03/2021</p>
          </div>
          <div class="lugar">
            <ion-icon name="navigate-outline"></ion-icon>
            <p>Hospital San Roque</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-item *ngFor="let cita of Citas" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{cita.hora}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{cita.hora}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/home/edit-cita/', cita.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCita(cita.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>

  </div>

  <!-- Botón flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" routerLink="/home/solicitar">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
