<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Encantados de volver a verte,</strong>
    <p>Juan José</p>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Próxima cita</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="card-cita">
          <div class="fecha">
            <ion-icon name="time-outline"></ion-icon>
            24/03/2021
          </div>
          <div class="lugar">
            <ion-icon name="navigate-outline"></ion-icon>
            Centro médico Leonardo
          </div>
        </div>

      </ion-card-content>
    </ion-card>
    <!--<strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  </div>
</ion-content>
